* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "ROBOTO", sans-serif;
}

a {
    text-decoration: none;
}

.nav, .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #1e1f26;
    text-align: center;
    padding: 0 2em;
    justify-content: center;
    transition: color 0.3s ease;
}

.nav h1, .slider h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 5vw;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
    color: #03dac6;
    transition: all 0.3s ease;
    z-index: 3;
    max-font-size: 48px;  /* Prevents the font from getting too big on wide screens */
}

.slider h2 {
    font-size: 2vw;
    letter-spacing: 0.3rem;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
}

h1:hover, span:hover {
    transform: translate3d(0, -10px, 22px);
    color: #ff0266;
}

.nav-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: #1e1f26;
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    justify-content: space-between;
    overflow-x: auto;
}

.nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    flex: 1;
    color: #03dac6;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: medium;
    padding: 0.7vw;
    z-index: 10;
    white-space: nowrap;
}

.nav-tab:hover {
    color: #1e1f26;
    background: #03dac6;
    transition: all 0.5s ease;
}
.nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #03dac6;
    transition: left 0.3s ease;
}
.nav-container--top-first {
    position: fixed;
    top: 75px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-second {
    position: fixed;
    top: 0;
}
.background {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
h3.span {
    font-size: 2vw;
    letter-spacing: 0.7em;
    font-family: ROBOTO, sans-serif;
    font-weight: 300;
    color: rgb(250, 235, 215);
    z-index: 4;
}
@media (min-width: 800px) {
    .nav-tab {
        font-size: 2vw;
    }
    .nav h1 , .slider h1 {
        font-size: 5vw;
    }
}

@media screen and (max-width: 800px) { /* for mobile views */
    .nav h2, .slider h2 {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }

    .nav-tab {
        font-size: 1rem;
    }
    h3.span {
    font-size: 2vw;
    letter-spacing: 0.7em;
    font-family: ROBOTO, sans-serif;
    font-weight: 300;
    color: rgb(250, 235, 215);
    z-index: 4;
}
}

.loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    -webkit-animation: loading 1s ease-in-out infinite alternate;     
    animation: loading 1s ease-in-out infinite alternate;
    letter-spacing: 0.7em;
}

@-webkit-keyframes loading {
    to {
        text-shadow: 20px 0 70px #ff0266;
        color: #ff0266;
    }
}

@keyframes loading {
    to {
        text-shadow: 20px 0 70px #ff0266;
        color: #ff0266;
    }
}

.loader span {
    -webkit-animation-delay: calc((var(--delay, 0) - 2) * 0.1s);
    animation-delay: calc((var(--delay, 0) - 2) * 0.1s);
}

.loader span:nth-child(2) { --delay: 2; }
.loader span:nth-child(3) { --delay: 3; }
.loader span:nth-child(4) { --delay: 4; }
.loader span:nth-child(5) { --delay: 5; }
.loader span:nth-child(6) { --delay: 6; }
.loader span:nth-child(7) { --delay: 7; }
.loader span:nth-child(8) { --delay: 8; }
.loader span:nth-child(9) { --delay: 9; }
.loader span:nth-child(10) { --delay: 10; }
.loader span:nth-child(11) { --delay: 11; }
.loader span:nth-child(12) { --delay: 12; }
.loader span:nth-child(13) { --delay: 13; }
.loader span:nth-child(14) { --delay: 14; }
.loader span:nth-child(15) { --delay: 15; }
.loader span:nth-child(16) { --delay: 16; }
.loader span:nth-child(17) { --delay: 17; }
.loader span:nth-child(18) { --delay: 18; }
.loader span:nth-child(19) { --delay: 19; }
.loader span:nth-child(20) { --delay: 20; }
.loader span:nth-child(21) { --delay: 21; }
.loader span:nth-child(22) { --delay: 22; }

.main {
    display: flex;
    flex-wrap: wrap;
}

.slider {
    position: relative;
    padding: 20px;
    width: 100%;
    transition: transform 0.3s;
    background: #1e1f26;
}

.slider iframe {
    border: none;
    width: 80vw;
    height: 70vh;
    overflow: hidden;
    border-radius: 1.7%;
}


.slider a {
    text-decoration: none;
    color: inherit;
}

.slider:hover {
    transform: scale(1.02);
    z-index: 9;
}
/* Style for the color toggle button */
.toggle-colors {
    cursor: pointer;        /* Change mouse cursor to pointer on hover */
    margin: 15px;      /* Give some space between the link and this button */
    font-size: 50px;        /* Set icon size */
    transition: background 0.3s, transform 0.3s;  /* Smooth transition for hover effects */
}

/* Hover effect for the button */
.toggle-colors:hover {
    transform: scale(1.1); /* Slightly increase the size */
}
@media (max-width: 768px) {
    .nav-container {
        justify-content: flex-start;  /* Align items to the start */
    }

    .nav-tab-slider {
        display: none;   /* Hide the slider tab on mobile */
    }
}